*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.encabezado{
    width: 100%;
}
.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    box-shadow: 5px 0 8px  #212529;
}


.logo-container {
    margin-left: 2em;
    width: 6em;

}
.logo-container img {
    width: 100%;
}
.list-container{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: x-large;
}
.list-container a{
    text-decoration: none;
}

.list-container a:visited{
    color: #212529;
}

.list-container a:hover{
    border-radius: 5px;
    padding: 0.3em;
    background: #bc4749;
    color: #fff;
    
}