*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgba(240, 248, 255, 0.784);
}
/* Encabezado */
.encabezado{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    box-shadow: 5px 0 8px  #212529;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.navbar {
    width:40%;
    display: flex;
    flex-wrap: wrap;
}
.navbar ul {
    gap: 20px;
    width: 100%;
}


.logo-container {
    margin-left: 2em;
    width: 6em;

}
.logo-container img {
    width: 100%;
}
.list-container{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: x-large;
}
.list-container a{
    color: #212529;
    text-decoration: none;
}

.list-container a:visited{
    color: #212529;
}

.list-container a:hover{
    border-radius: 5px;
    padding: 0.3em;
    background: #bc4749;
    color: #fff;
    
}
#menu-toggle{
    display: none;
}

/* Cuerpo */
.cuerpo{
    margin-top: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(240, 248, 255, 0.784);

}
.portada{
    display: flex;
    width: 80%;
    height: 35em;
    gap: 1em;
    padding: 0.3em;
    background: #fff;
    box-shadow: 0.3em 0.3em 0.7em #0000004d;

}
.contenido{
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-texto{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    font-weight: 400;
    color:#5B636A;
}
.contenido-texto h2{
    color: #212529;

    font-weight: bold;
    font-size: xx-large;
}
.contenido-button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2em;
}

.tarjeta-poster{
    width: 50%;
    height: 25em;
    margin: auto 0;
}


.tarjeta-poster > img{
    width: 100%;
    height: 100%;
}
.button1{
    border: 2px solid #bc4749;
    border-radius: 1.5em;
    padding: 0.6em;
    font-weight: bold;
}
.button1:hover{
    background-color: #bc4749;
    color: #F1C40F;
}
.button1:first-child{
    background-color: #bc4749;
    color: #F1C40F;
}

.info{
    display: flex;
    justify-content: center;
    height: 20em;
    width: 100%;
    align-items: center;
    margin-top: 10em;
    background-color: #fff;
    box-shadow: 0.3em 0.3em 0.7em #0000004d;

    
}
.card-info{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    gap: 20px;
}
.card-info .title-info{
    height: 30%;
    width: 45%;
    margin: auto 0;
}

.card-info .info-p{
    height: 100%;
    width: 55%;
    font-weight: bold;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color:#5B636A;
}
.card-info h2, h3{
    color: #5B636A;

}

.container-benefit{
    width: 90%;
    height: 37em;
    margin-top: 10em;
    background-color: #fff;
    box-shadow: 0.3em 0.3em 0.7em #0000004d;


}

.title-benefit{
    width: 50%;
    margin: 0 auto;
}
.title-benefit h2{
    text-align: center;
    font-size: xx-large;
    color: #5B636A;
}
.title-benefit p {
    font-size: small;
    margin-top: 1em;
    color: #5B636A;
}
.cards-benefit{
    display: flex;
    margin-top: 5em;
    gap: 1em;
}
.card-benefit{
    height: 27em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    text-align: left;
    font-size: small;
    color: #5B636A;
}
.card-benefit:hover {
    border: #006fff 0.2em solid;
   }
.card-benefit img{
    width: 4.5em;
    margin-top: 1.5em;
    filter: opacity(0.4) drop-shadow(0 0 0 grey);
}
.card-benefit h3{
    color: #5B636A;
}

.foot-container{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 8em;
    margin-bottom:1em ;
    background: #fff;
    border-top: 2px solid #0000001b;
    box-shadow: 0.5em 0.5em 0.9em #00000015;
}


.footer-info{
    width: 50%;
    height: 80%;
    font-size: x-large;
}
.footer-info h3{
    font-size: 1.5em;
    margin: 0 auto;
    width: max-content;
    color: #212529;
    opacity: 0.6;
}
.footer-redes{
    margin-top: 1em;
}
.footer-redes h4{
    color: #212529;
    opacity: 0.9;
    margin-left: 0.5em;
}

.footer-pollos-contact{
    display: flex;
    flex-direction: column;
    
}
.footer-pollos-contact div{
    display: flex;
    gap: 20px;
    padding: 1.2em;
}
.footer-pollos-contact img{
    color: #212529;
    opacity: 0.3;
}
.footer-pollos-contact p{
    color: #212529;
    opacity: 0.9;
}
.footer-redes-logo {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    justify-content: left;
    gap: 50px;
}
.footer-redes-logo img{
    width: 1.2em;
    cursor: pointer;
}

.gustavo{
    width: 50%;
}

.gustavo img{
    width: 100%;
    height: 100%;
}